<div class="signup-container">
  <div class="left-container">
    <div class="card-container">
      <img class="round" src="../assets/picture.JPG" alt="user" />
      <h3>Jordão N. de Oliveira</h3>
      <br>
      <h6>Angola, Luanda</h6>
      <br>
      <p>
        Software engineer
        <br>
        with experience in the IT industry.
      </p>
      <br>
      <ul class="social-icons">
        <li><a href="https://www.npmjs.com/package/ngx-angular-date-range-picker" target="_blank"><i
              class="fab fa-npm"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jordao-de-oliveira/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
        </li>
        <li><a href="https://github.com/JordaoNhanga15/angular-date-range-picker" target="_blank"><i
              class="fab fa-github"></i></a></li>
      </ul>
      <div class="skills">
        <h6>Skills</h6>
        <br>
        <ul>
          <li *ngFor="let skill of skills">{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
  <form class="right-container" [formGroup]="formHeader">
    <header>
      <h1>The library provides a customizable date range picker component for Angular applications.</h1>
      <br>
      <div class="set">
        <div class="pets-breed">
          <label for="pets-breed">Selecione o Formato</label>
          <div class="select">
            <select class="form-control" formControlName="format">
              <option *ngFor="let form of formats" [ngValue]="form.value">{{form.label}}</option>
            </select>
          </div>
        </div>
        <div class="pets-birthday">
          <label for="pets-birthday">Selecione a Linguagem</label>
          <div class="select">
            <select class="form-control" formControlName="locale">
              <option *ngFor="let local of locales">{{local.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="set">
        <div class="pets-gender">
          <label for="pet-gender-female">Cor Primária</label>
          <div class="radio-container">
            <input type="color" class="form-control" id="style1" formControlName="backgroundPrimary" />
          </div>
        </div>
        <div class="pets-spayed-neutered">
          <label for="pet-spayed">Cor Secundária</label>
          <div class="radio-container">
            <input type="color" class="form-control" id="style1" formControlName="backgroundSecondary" />
          </div>
        </div>
      </div>
      <br>
      <div class="pets-weight-container">
        <div class="pets-weight">
          <label for="pet-weight-0-25" class="w-100">Selecionar o intervalo</label>
          <div class="radio-container">
            <date-range-picker [props]="row" [control]="date" style="width: 100% !important;"
              class="w-100"></date-range-picker>
          </div>
        </div>
      </div>
    </header>
  </form>
</div>
